@{
    ViewData["Title"] = "About Application";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Technologies</p>

<ol>
    <li>Programming Language : C#</li>
    <li>Database : MSSQL</li>
    <li>Design : ASP.Net Core MVC</li>
    <li>ORM : Entity Framework Core</li>
    <li>and so on...</li>
</ol>
