@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h4 class="display-6">Developer Contact informations</h4>
    <br />
    <ul type="none">
        <li>Phone: +994552130686</li>
        <li>Email: r.alagezov@gmail.com</li>
        <li>Github: <a href="https://github.com/jafidan" target="_blank">Go to GitHub</a></li>
        <li>Linkedin: <a href="https://www.linkedin.com/feed/" target="_blank">Go to Linkeding</a></li>
    </ul>
    
</div>
