@model ExamProgramme.ViewModels.ExamViewModel.CreateExamViewModel

<br />
<h2>Register New Exam</h2>



<form asp-controller="Exams" asp-action="Create" method="post" class="mt-5">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Lesson Name</label>
		<div class="col-sm-6">
			<select asp-for="SelectedLesson" asp-items="Model.LessonsSelectList" class="form-select">
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Pupil Name</label>
		<div class="col-sm-6">
			<select asp-for="SelectedPupil" asp-items="Model.PupilsSelectList" class="form-select">
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Date of Exam</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="date" asp-for="Date" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Grade</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="grade" asp-for="Grade" />
		</div>
	</div>


	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a type="submit" class="btn btn-outline-primary" href="/Exams/Index" role="button">Cancel</a>
		</div>
	</div>

</form>